#holiday-park-booking-page{
    @apply w-full mx-auto max-w-screen-2xl px-6;
    #booking-stepper{
        @apply p-4 my-6 md:my-10;
        ol.steps{
            @apply flex items-center w-full text-sm font-medium text-center text-gray-500 dark:text-gray-400 sm:text-base;
            li{
                @apply flex md:w-full items-center after:content-[''] after:w-full after:h-1 after:border-b after:border-gray-200 after:hidden sm:after:inline-block after:mx-6 xl:after:mx-10 dark:after:border-gray-700;
                span{
                    @apply flex items-center after:content-['/'] sm:after:hidden after:mx-2 after:text-gray-200 dark:after:text-gray-500;
                    .progress-number{
                        @apply me-2;
                    }
                }
            }
        }
    }
    .stages-wrapper{
        @apply grid grid-cols-1 lg:grid-cols-5 gap-x-4 md:gap-x-6 lg:gap-x-10 xl:gap-x-16;
        #booking-summary{
            @apply order-1 lg:order-2 lg:col-span-2 mb-6;
            .inner-wrap{
                @apply p-6 md:p-10 border border-gray-300 shadow-md rounded-md;
                .section-heading{
                    @apply mb-6 md:mb-10;
                   .title{
                        @apply block font-heading text-xl sm:text-2xl mb-2;
                    }
                    .text{
                        @apply text-xs;
                    }
                }
                .accommodation-type{
                    @apply grid grid-cols-5 gap-6 border-b border-gray-300 pb-6 mb-2;
                    img{
                        @apply col-span-2;
                    }
                    .selected-accommodation{
                        @apply col-span-3 flex flex-col justify-center items-start;
                        h4.title{
                            @apply block font-heading text-lg mb-1;
                        }
                        .category{
                            @apply text-sm opacity-50;
                        }
                    }
                }
                .options-list{
                    .reservation-option{
                        @apply p-2 mb-2 border-b border-gray-200 text-left text-sm flex flex-row justify-between gap-4;
                        strong{
                            @apply block mb-2;
                        }
                        &:last-of-type{
                            @apply border-b-0;
                        }
                    }
                }

                .stay-price{
                    @apply font-normal font-heading text-xl sm:text-2xl;
                    strong{
                        @apply font-normal;
                    }
                }
                .reserved-extras{
                    @apply rounded-md border border-gray-300 bg-gray-100 p-6;
                    .title{
                        @apply font-heading text-lg block mb-4 border-b border-gray-300;
                    }

                    .extras-summary-list{
                        @apply text-sm;
                        .selected-extra{
                            @apply flex flex-row justify-between items-center gap-4 mb-1 pb-1 border-b border-gray-300;
                            &:last-of-type{
                                @apply border-b-0;
                            }
                            div{
                                @apply basis-0 grow;
                            }
                        }
                    }

                }
            }
        }
        #booking-info {
            .form-fields {
                .form-field-inline {
                    @apply sm:col-span-3;
                }
                .form-field-full {
                    @apply col-span-full;
                }
                .form-field-start {
                    @apply sm:col-span-2 sm:col-start-1
                }
                .form-field-small {
                    @apply sm:col-span-2;
                }
            }
        }

        #booking-info, #payment-info, #confirmation-content{
            @apply order-2 lg:order-1 lg:col-span-3;

            .form-content{
                @apply mb-6 md:mb-10 text-white bg-primary rounded-md py-3 px-6 text-xs;
               .form-heading{
                    @apply block font-heading text-xl sm:text-2xl mb-1;
                }
            }
            .section-heading{
                @apply p-4 bg-tertiary text-white rounded-md mb-4 lg:mb-6;
                h4{
                    @apply mb-0 text-base;
                }
            }
            .form-fields{
                @apply grid grid-cols-1 gap-x-6 gap-y-6 sm:grid-cols-6 px-6;
                .label{
                    @apply block text-sm mb-2;
                }
                input[type=text], input[type=email], input[type=tel]{
                    @apply block p-4 w-full bg-gray-100 rounded-md border-0 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary text-sm;
                }
                textarea{
                    @apply block p-4 w-full min-h-[7rem] rounded-lg bg-gray-100 border border-gray-300 text-sm;
                }
            }
            .form-section{
                @apply mb-6 lg:mb-10;
            }
            .pay-now{
                @apply flex flex-row items-center justify-center lg:block;
                .pay-btn{
                    @apply w-full md:w-64 mx-auto;
                }
            }
        }

        #extras-page{
            @apply order-2 lg:order-1 lg:col-span-3;
            .section-title{
                @apply block mb-6 md:mb-10 text-white bg-primary rounded-md py-3 px-6 text-xs;
               .title{
                    @apply block font-heading text-xl sm:text-2xl mb-1;
                }

            }
            #loading-spinner-extras {
                @apply flex justify-center mt-10;
                .spin-icon {
                    @apply w-40 h-40;
                }
            }
            .extras-wrap{
                @apply px-6;
                .extra-option{
                    @apply mb-2;
                    .title{
                        @apply p-4 bg-tertiary text-white rounded-md mb-4;
                    }
                    .option{
                        @apply py-3 mb-2 border-b border-gray-200 text-left text-sm flex flex-row justify-between items-center gap-4;
                        &:last-of-type{
                            @apply border-b-0;
                        }
                        div{
                            @apply py-2 text-right;
                        }
                        .option-name{
                            @apply text-left;
                            strong{
                                @apply block mb-2 my-auto;
                            }
                        }

                        .option-selector{
                            @apply flex flex-row items-center justify-end gap-10 pl-4;
                        }

                        select{
                            @apply block p-4 bg-gray-100 rounded-md border-0 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary text-sm;
                        }

                        input[type="checkbox"] {
                            appearance: none;
                            display: grid;
                            place-content: center;
                            @apply w-8 h-8 p-0 m-0 rounded-md bg-gray-100 border border-gray-300;
                        }

                        input[type="checkbox"]::before {
                            @apply w-8 h-8 transition-all scale-0;
                            content: "";
                        }

                        input[type="checkbox"]:checked::before {
                            @apply scale-100 bg-primary rounded-md border-primary;
                            content: url("/images/check-regular.svg");
                            padding: 0.45rem;
                        }

                    }
                }

            }
        }
    }
    .booking-nav{
        @apply flex justify-center gap-x-4 py-6 lg:py-10 cursor-pointer;
        .nav-button {
            @apply cursor-pointer;
            .nav-icon {
                @apply my-auto cursor-pointer;
            }
        }
    }
}
